* {
    margin: 0;
    padding: 0;
}

.page {
    background-color: lightgray;
    font-family: Verdana, Tahoma, sans-serif;
}

.wrapper {
    width: 100%;
}

.content {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.content-left {
    display: inline-block;
    flex-basis: 33%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
    background-color: #1b3764;
    color: #ffffff;
}

.content-right {
    display: inline-block;
    box-sizing: border-box;
    flex-basis: 67%;
    padding: 20px;
    color: #1b3764;
    background-color: #ffffff;
}

.header {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
}

.nav-menu {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.main-header {
    font-family: 'Tahoma', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000000;
}

p.second-line {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.CV-image {
    display: block;
    margin: 0 auto;
    border-radius: 84px;
}

.heading-second {
font-size: 18px;
line-height: 27px;
margin-top: 30px;
margin-bottom: 10px;    
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link-dark {
    color: #1b3764;
    text-decoration: none;
}

.heading-third {
    margin-top: 8px;
    font-size: 14px;
}

.list {
    padding-left: 20px;
}

.about {
    text-align: justify;
    margin-bottom: 14px;
}